In [1]:
a = [1, 2, 3]
b = a
a.append(4)
b

[1, 2, 3, 4]

In [2]:
class Gizmo:
  def __init__(self):
    print('GIZMO id: %d' % id(self))

x = Gizmo()
y = Gizmo() * 10

GIZMO id: 133589716727024
GIZMO id: 133589716728560

TypeError: unsupported operand type(s) for *: 'Gizmo' and 'int'

In [3]:
charles = {'name': 'Charles L. Dodgson', 'born': 1832}
lewis = charles

In [4]:
lewis is charles

True

In [5]:
id(charles), id(lewis)

(133589713242880, 133589713242880)

In [6]:
lewis['balance'] = 950
charles

{'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}

In [7]:
alex = {'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}
alex == charles

True

In [8]:
alex is charles

False

In [9]:
t1 = (1, 2, [30, 40])
t2 = (1, 2, [30, 40])
t1 == t2, t1 is t2

(True, False)

In [10]:
id(t1[-1])

133589713355328

In [11]:
t1[-1].append(99)
t1, id(t1[-1])

((1, 2, [30, 40, 99]), 133589713355328)

In [12]:
t1 == t2

False

In [13]:
l1 = [3, [66, 55, 44], (7, 8, 9)]
l2 = list(l1)

In [14]:
l1.append(100)

In [15]:
l1[1].remove(55)
print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44], (7, 8, 9), 100]
l2: [3, [66, 44], (7, 8, 9)]

In [16]:
l2[1] += [33, 22]

In [17]:
l2[2] += (10, 11)
print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44, 33, 22], (7, 8, 9), 100]
l2: [3, [66, 44, 33, 22], (7, 8, 9, 10, 11)]

In [18]:
class Bus:
  def __init__(self, passengers = None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = list(passengers)

  def pick(self, name):
    self.passengers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [19]:
import copy
bus1 = Bus(['Alice', 'Bill', 'Claire', 'David'])
bus2 = copy.copy(bus1)
bus3 = copy.deepcopy(bus1)
id(bus1), id(bus2), id(bus3)

(133589717351680, 133589717348272, 133589717342224)

In [20]:
bus1.drop('Bill')
bus1.passengers, bus2.passengers, bus3.passengers

(['Alice', 'Claire', 'David'],
 ['Alice', 'Claire', 'David'],
 ['Alice', 'Bill', 'Claire', 'David'])

In [21]:
id(bus1.passengers), id(bus2.passengers), id(bus3.passengers)

(133589712423040, 133589712423040, 133589713240192)

In [22]:
a = [10, 20]
b = [a, 30]
a.append(b)
a

[10, 20, [[...], 30]]

In [23]:
c = copy.deepcopy(a)
c

[10, 20, [[...], 30]]

In [24]:
class HauntedBus:
  def __init__(self, passengers = []):
    self.passengers = passengers

  def pick(self, name):
    self.passengers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [25]:
bus1 = HauntedBus(['Alice', 'Bill'])
bus1.passengers

['Alice', 'Bill']

In [26]:
bus1.pick('Charlie')
bus1.drop('Alice')
bus1.passengers

['Bill', 'Charlie']

In [27]:
bus2 = HauntedBus()
bus2.pick('Carrie')
bus2.passengers

['Carrie']

In [28]:
bus3 = HauntedBus()
bus3.passengers

['Carrie']

In [29]:
bus3.pick('Dave')
bus2.passengers

['Carrie', 'Dave']

In [31]:
bus2.passengers is bus3.passengers

True

In [32]:
bus1.passengers

['Bill', 'Charlie']

In [33]:
HauntedBus.__init__.__defaults__

(['Carrie', 'Dave'],)

In [34]:
HauntedBus.__init__.__defaults__[0] is bus2.passengers

True

In [35]:
class TwiilghtBus:
  def __init__(self, passengers = None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = passengers

  def pick(self, name):
    self.passengers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [36]:
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwiilghtBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Maya', 'Diana']

In [37]:
class TwiilghtBus:
  def __init__(self, passengers = None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = list(passengers)

  def pick(self, name):
    self.passengers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [38]:
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwiilghtBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Tina', 'Maya', 'Diana', 'Pat']

In [46]:
import weakref

s1 = {1, 2, 3}
s2 = s1

def bye():
  print('Gone with the wind...')

ender = weakref.finalize(s1, bye)
print(ender.alive)

del s1
print(ender.alive)

s2 = 'spam'

print(ender.alive)

True
True
Gone with the wind...
False